
.last-updated {
  color: var(--black-75);
  font-size: 0.9em;
  margin-bottom: 20px;
}

.article-note {
  color: var(--black-75);
  font-size: 0.9em;
  font-style: italic;
}

/* Main content */
.main-content {
  max-width: 780px;
}

/* Contents sidebar */
.contents-table {
  position: sticky;
  top: 120px;
  float: right;
  width: 220px;
  margin-left: 40px;

  font-size: 0.9em;
}

/* Contents styling */
.contents-table ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.contents-table li {
  margin: 6px 0;
}

.contents-table a {
  text-decoration: none;
  color: #555;
  transition: color 0.2s ease;
}

.contents-table a:hover {
  color: #000;
}


/* ------------------ Headings ------------------ */

.layout h2 {
  margin-top: 32px;
  margin-bottom: 8px;
}

.layout h3 {
  margin-top: 16px;
}

/* ------------------ Table styling ------------------ */
.layout table {
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 16px;
  font-size: 0.9em;
}

.layout th, .layout td {
  text-align: left;
  padding: 4px 16px;
  vertical-align: top;
}

.layout tr {
  border-bottom: 1px solid var(--black-25);
}

.layout tr:last-child {
  border-bottom: none;
}

.layout thead th {
  border-bottom: 1px solid var(--black-75);
}

/* ------------------ ul ------------------ */
.layout ul, .layout ol {
  margin: 0;
}

/* ------------------ Songs ------------------ */
.song {
  font-family: 'KaiTi';
  font-size: var(--ts2);
  line-height: 32px;
  letter-spacing: 0.01em;
}

.repeated {
  color: var(--black-50);
}

/* ------------------ Other ------------------ */
.no-spacing>p {
  margin: 0;
  margin-bottom: 2px;
}

.no-spacing {
  margin-bottom: 8px;
}


/* ------------------ Responsive ------------------ */
@media (max-width: 1280px) {
  .contents-table {
    float: none;
    position: relative;
    top: auto;
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .main-content {
    max-width: 100%;
  }
}