nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 4px;

  padding: 6px 10px;
  border-radius: 1000px;

  background: rgba(210,210,210,.65);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);

  z-index: 1000;

}

nav ul {
  display: flex;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a, nav button {
  text-decoration: none;
  color: var(--black);

  padding: 4px 10px;
  border-radius: 1000px;

  transition: background 0.2s;
  display: inline-block;
}

nav a:hover, nav button:hover {
  background: rgba(255, 255, 255, 0.9);
}

.menu-toggle {
  display: none;
}
