@media only screen and (max-width: 1280px) { /* iPad */

}

@media only screen and (max-width: 1024px) { /* posts */
  :root {
    --sep-128: 64px;
  }
  
  .post {
    flex-direction: column;
    padding-left: 32px;
  }

  .post-text {
    max-width: 720px;
    padding-left: calc(var(--sep-128)-32px)
  }
}


@media only screen and (max-width: 640px) { /* iPhone */
  :root {
    /* type sclaing */
    --ts1: 1.2rem;
    --ts2: 1.44rem;
    --ts3: 1.728rem;
    --ts4: 2.074rem;
    
    --sep-128: 32px;
    --sep-256: 128px;
  }
}

@media only screen and (max-width: 448px) { /* extra small */
  
}
