@media only screen and (max-width: 1280px) { /* iPad */

}

@media only screen and (max-width: 1024px) { /* posts */
  :root {
    --sep-128: 64px;
  }
  
  .post, .post-taiwan {
    flex-direction: column;
    padding-left: 32px;
  }

  .post-text {
    max-width: 720px;
    padding-left: calc(var(--sep-128)-32px)
  }

  .post-img {
    margin-top: 64px;
    margin-left: auto;
  }

  .post-img-left {
    margin-left: 0;
  }
}


@media (max-width: 990px) { /* iPad vertical */

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 4px 10px;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
  }
  nav ul {
    flex-basis: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0px;
    margin: 0;
    padding: 0;

    max-height: 0;
    overflow: hidden;

    opacity: 0;
    transform: translateY(-6px);

    transition: max-height 0.25s ease, opacity 0.2s ease, transform 0.2s ease;

    pointer-events: none;
  }

  nav.open {
    border-radius: 24px; 
  }

  nav.open ul {
    max-height: 300px; /* enough for your links */
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    
  }
}


@media only screen and (max-width: 640px) { /* iPhone */
  :root {
    /* type sclaing */
    --ts1: 1.2rem;
    --ts2: 1.44rem;
    --ts3: 1.728rem;
    --ts4: 2.074rem;
    
    --sep-128: 32px;
    --sep-256: 128px;
  }
}

@media only screen and (max-width: 448px) { /* extra small */
  nav a:not(.alex) {
    width: 96px;
  }
}