---
title: Home page
layout: "layouts/main.njk"
permalink: /
---
<hero>
  <div>
    <div class="hero">
      <p>Exploring how <span class="vibrant">systems</span> <br>
      and <span class="vibrant">people</span> can work <br>
      <span class="vibrant">smarter</span>, not harder.<br>
      <h3 class="black-75">Learning, systems and staying consistent.</h3>
    </div>
  </div>
</hero>

<section id="articles">

  <h1 class="vibrant">Articles</h1>

  <div class="articles">
    
    <ul>
      <li><a href="/articles/2026-04-26-method-for-learning-vocabulary/">Method for learning vocabulary</a></li>
      <li>Why I Track My Learning — How measuring small progress keeps motivation sustainable.</li>
      <li>Dividends and Peace of Mind — Seeing investing as a tool for freedom, not speculation.</li>
      <li>Structured Thinking at Work — Lessons from managing complex assessments</li>
    </ul>
  
  </div>

</section>

<section id="about">
  <h1 class="vibrant">Learn about me</h1>
  <div class="about">

    <div class="experience">
      <p>Àlex holds engineering degrees in both Aerospace and Network Engineering. He currently works as a consultant specializing in cyber risks, enabling clients to elevate their strategies and drive transformation.</p>
      <p>He is focused on developing his skills and gaining diverse experiences to navigate the evolving technology landscape.</p>
      <p>Outside of work, he enjoys reading across various genres, learning languages, and exploring new technologies.</p>
      {# https://commons.wikimedia.org/wiki/File:Flag_of_COUNTRY.svg #}
      <p>Languages I use: 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 540" width="24" height="16">
          <rect width="810" height="540" fill="#FCDD09"></rect>
          <path stroke="#DA121A" stroke-width="60" d="M0,90H810m0,120H0m0,120H810m0,120H0"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 600" width="24" height="16">
          <path> fill="#CE1126" d="M0 0h900v600H0" </path>
          <path> fill="#fff" d="M0 0h600v600H0" </path>
          <path> fill="#002654" d="M0 0h300v600H0" </path>
        </svg>
      </p>
    </div>
    
  </div>
</section>