---
title: Home page
layout: "layouts/main.njk"
permalink: /
---
<hero>
  <p class="alex">àlex</p>
  <div>
    <div class="hero">
      <p>Bridging <span class="vibrant">engineering</span><br>
      competence and<br>
      <span class="underline-3d">strategy</span>.</p>
      <h3 class="black-75">Shaping the future of technology</h3>
    </div>
    <div class="menu">
      <h3>Discover</h3>
      <ul>
        {#<li><a href="/projects">projects/portfolio</a></li>#}
        <li><a href="/about">about</a></li>
        <li><a href="/experience">experience</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </div>
  </div>
</hero>

<section id="about">
  <h1 class="vibrant">Learn about me</h1>
  <div class="about">

    <div class="experience">
      <p>Àlex holds engineering degrees in both Aerospace and Network Engineering. He currently works as a consultant specializing in cyber risks, enabling clients to elevate their strategies and drive transformation.</p>
      <p>He is focused on developing his skills and gaining diverse experiences to navigate the evolving technology landscape.</p>
      <p>Outside of work, he enjoys reading across various genres, learning languages, and exploring new technologies.</p>

    </div>
    
  </div>
</section>


<section id="contact">
  <h1 class="vibrant">Contact me</h1>

  <div class="about">

  <div>
    <p>Feel free to contact me at @</p>
    <a href="https://www.linkedin.com/in/alex2esteban/">LinkedIn</a>

  </div>


  </div>
</section>





<section id="experience">
  <h1 class="vibrant">Backed with a strong background</h1>

  <div class="experience">

  <div>
    <h3>Experience</h3>
    <p>Cyber Risk Consultant</p>

    <h3>Education</h3>
    <p>Double bachelor's degree in Aerospace Systems Engineering and Network Engineering | Universitat Politècnica de Catalunya (UPC)</p>
    <p>Bachillerato + Baccalauréat (dual Spanish + French secondary school certificate) in Technology and Physics</p>

    <h3>International experience</h3>
    <p>Sino-Euro Spring School: Digitally Empowered, Intelligently Connected | Northwestern Polytechnical University (NPU)</p>
    <p>Japan’s Friendship Ties Program “MIRAI”</p>
    <p><a href="/posts/2023-07-03-taiwan/taiwan/">Language & Culture Summer Camp</a>| Ming Chi University of Technology (MCUT)</p>
    <p>Erasmus+ Degree in Telecommunications | Institut national des sciences appliquées (INSA)</p>

    <h3>Languages</h3>
    <ul>
      <li>en | English | <span class="black-75">Full professional proficiency.</span></li>
      <li>es | Spanish | <span class="black-75">Native proficiency.</span></li>
      <li>ca | Catalan | <span class="black-75">Native proficiency.</span></li>
      <li>fr | French | <span class="black-75">Full professional proficiency.</span></li>
      <li>zh | Chinese | <span class="black-75">Elementary proficiency.</span></li>
    </ul>

    <h3>Honors</h3>
    <ul>
      <li>Best Academic Record in Aerospace Systems Engineering</li>
      <li>Best Academic Record in Network Engineering</li>
    </ul>

    <h3>Skills</h3>
    <p>Python, C#, C, Java, MATLAB, Microsoft Excel, Microsoft Office, SQL, HTML, CSS, JavaScript, Postman, Wireshark, GNS3, SOLIDWORKS, Adobe Photoshop CC, Adobe Premiere Pro</p>

  </div>
  </div>
</section>


<section id="articles">

  <h1 class="vibrant">Articles</h1>

  <div class="articles">
    
    <ul>
      {#<li><a href="/projects">projects/portfolio</a></li>#}
      <li><a href="/articles/2026-04-26-method-for-learning-vocabulary/">Method for learning vocabulary</a></li>
    </ul>

  </div>

</section>

